<a href="https://colab.research.google.com/github/kalki81000/New-Revision-2025/blob/main/19_may_april_batch_revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# inbuilt functions
name = input("Enter your name: ")

Enter your name: Sahil Garg

'Sahil Garg'

In [ ]:
print(name)

Sahil Garg

In [ ]:
type(name)

str

In [ ]:
len(name)

10

In [ ]:
# variables

# data types

# numeric data types
a = 1 # integers
b = 3.4 #float
c = 2+3j # complex


# Boolean
isworking = True # False

# array datatypes

name = "Sahil Garg"  # string data types
name_of_fruits = ["Apple" , "banana", "grapes" , 1] # list
name_of_country = ("India", "US" , "UK", 1) # tuple

In [ ]:
name_of_fruits.append(name_of_country)

In [ ]:
name_of_fruits.extend(name_of_country)

In [ ]:
name_of_fruits.insert(1, 'paches')

In [ ]:
name_of_fruits.index("India")

5

In [ ]:
name_of_fruits.remove("India")

In [ ]:
# dictionary
inventory = {"apple": {"green apple":10, "golden": 40}, "grapes":[200, 300], "peaches":50}

In [ ]:
inventory

{'apple': {'green apple': 10, 'golden': 40},
 'grapes': [200, 300],
 'peaches': 50}

In [ ]:
inventory['apple']

{'green apple': 10, 'golden': 40}

In [ ]:
inventory.get('apple')

{'green apple': 10, 'golden': 40}

In [ ]:
len(inventory.keys())

3

In [ ]:
com = inventory.copy()

In [ ]:
com

{'apple': {'green apple': 10, 'golden': 40},
 'grapes': [200, 300],
 'peaches': 50}

In [ ]:
# operator
# arithmatic operator
2/3

# comparison
2 == 3


# logical operator and or not

2>3

False

In [ ]:
# assignment operator
x = 1
x /= 1 # x = x+1
x

2

In [ ]:
# create a conversion of celsius to farheinhiet
tem = input("Enter the temp: ")

tem = float(tem)

far = (9 / 5  * tem ) +32

Enter the temp: 23

In [ ]:
far

73.4

In [ ]:
# control flow statment
# conditional statement
# looping
# try except



# conditional statmebt

tem = input("Enter the temp: ")

tem = float(tem)

far = (9 / 5  * tem ) +32

if far > 100:
  print("user have a fever")
elif far < 95:
  print("user have a low temp")
elif
else:
  print("user dont have fever")

Enter the temp: 23
user have a low temp

In [ ]:
# create a calculator

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
ope = input("Enter the operation: ")

if ope == "+":
  print(num1+ num2)
elif

Enter the first number: 3
Enter the second number: 4
Enter the operation: +
7

In [ ]:
name_of_fruits

['Apple', 'banana', 'grapes', 1, ('India', 'US', 'UK', 1), 'US', 'UK', 1]

In [ ]:
# looping statment - for , while

for i in range(10):
  if i % 2 ==0:
    print(f"{i} an even number")
  else:
    print(f"{i} an odd number")

0 an even number
1 an odd number
2 an even number
3 an odd number
4 an even number
5 an odd number
6 an even number
7 an odd number
8 an even number
9 an odd number

In [ ]:
for i in range(5):
  for j in range(i):

.e

In [ ]:
# create a method to find the sq of all number and save it in a new li
sq_num = []

for num in range(11, 100, 5 ):
  num_sq = num* num
  sq_num.append(num_sq)

sq_num

[121,
 256,
 441,
 676,
 961,
 1296,
 1681,
 2116,
 2601,
 3136,
 3721,
 4356,
 5041,
 5776,
 6561,
 7396,
 8281,
 9216]

In [ ]:
x = 0
while x < 10:
  x = x+1
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(5, 0 , -1):
  for j in range(i):
    print("*", end = " ")
  print(end = "\n")

* * * * *
* * * *
* * *
* *
*

In [ ]:
# pass , continue , break
for i in range(10):
  pass

In [ ]:
for i in range(10):
  if i % 2 == 0:
    continue
  elif i > 6:
    break
  print(i)

1
3
5

In [ ]:
inventory2 = {"potato": 4, "tomato":8}

In [ ]:
inventory.update(inventory2)

In [ ]:
inventory

{'apple': {'green apple': 10, 'golden': 40},
 'grapes': [200, 300],
 'peaches': 50,
 'potato': 4,
 'tomato': 8}

In [ ]:
user = {}
exit = True
while exit:
  key = input("Enter key: ")
  value = input("enter value ")
  if key == "exit":
    break
  user[key] = value

print(user)

Enter key: apple
enter value 1
Enter key: banana
enter value 2
Enter key: grapes
enter value 4
Enter key: potato
enter value 5
Enter key: exit
enter value k
{'apple': '1', 'banana': '2', 'grapes': '4', 'potato': '5'}

In [ ]:
  num = input("ENter a number")
  num - num

ENter a number5

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
num = input("Emter num: ")
if num.isdigit():
  num = int(num)
else:
  print("Error in value")

Emter num: 5

In [ ]:
# try except statment

try:
  print("running try statement ......")
  num = input("ENter a number")
  num = int(num)
except Exception as e:
  print("running except statement ......")
  print(e)
else:
  print("running else statement ......")
  num = num*num
  print(num)
finally:
  print("running finally statement ......")
  del num

running try statement ......
running finally statement ......

KeyboardInterrupt: Interrupted by user

In [ ]:
# create a function as calculator where you will be taking input from user about numbers and operation and you will return the final result ?

In [ ]:
def  calc(a,b,o):
    try:
        if(o=='+'):
            return a+b
        elif(o=='-'):
            return a-b
        elif(o=='*'):
            return a*b
        elif(o=='/'):
            return a/b
        else:
            print('invalid operator')
    except Exception as e:
        return Exception

In [ ]:
calc("a" ,"b", -)

SyntaxError: invalid syntax (<ipython-input-21-86bacbef273a>, line 1)

In [ ]:
# Python program to interchange first and last elements in a list
# Python program to swap two elements in a list
# Python | Ways to find length of list
# Maximum of two numbers in Python
# Minimum of two numbers in Python

In [ ]:

def swap(rlist):
    size=len(rlist)

    temp=rlist[0]

    rlist[0]=rlist[size -1]

    rlist[size-1]=temp
    return rlist

rlist=[4,5,5,7,6]
print(swap(rlist))

[6, 5, 5, 7, 4]

In [ ]:
lst=[4,5,5,7,6]

pos1 , pos2 = 1,3

lst[pos1], lst[pos2] = lst[pos2] , lst[pos1]
lst

[4, 7, 5, 5, 6]

In [ ]:
# Given a list numbers = [1, 2, 3, 4, 5], create a new list containing the squares of each number.

sq_lst = []
for i in lst:
  if i % 2== 0:
    sq_lst.append(i*i)
  else:
    "odd num"

sq_lst

[16, 49, 25, 25, 36]

In [ ]:
sq_lst = [i*i for i in lst if i %2 == 0 ]
sq_lst

[16, 36]

In [ ]:
sq_lst = [i*i  if i %2 == 0 else "odd_num" for i in lst ]
sq_lst

[16, 'odd_num', 'odd_num', 'odd_num', 36]

In [ ]:
# Given a list words = ["hello", "world", "how", "are", "you"], create a new list with all words capitalized.
# Create a list containing double vowels from a string text = "Supercalifragilisticexpiaalidocious"
# Given a list temperatures = [10, 25, 30, 15], create a list with "Cold" for temperatures below 20 and "Warm" otherwise.

In [ ]:
words = ["hello", "world", "how", "are", "you"]
capitalized_words = [word.capitalize() for word in words]
print("capitalized word:", capitalized_words)

capitalized word: ['Hello', 'World', 'How', 'Are', 'You']

In [ ]:
capitalized_words = []
for i in words:
  capitalized_words.append(i.capitalize())
capitalized_words

['Hello', 'World', 'How', 'Are', 'You']

In [ ]:
text = 'Suupercalifragilisticexpiaalidocious'
vowel = 'aeiou'
dob = []

for i in range(len(text)-1):
  char = text[i].lower()
  char2 = text[i+1].lower()
  if char in vowel and char2 in vowel and char == char2:
    dob.append(char*2)

print(dob)

['uu', 'aa']

In [ ]:
text[1]

'u'

In [ ]:
text[1+1]

'u'

In [ ]:
temps = [10, 25, 30, 15]

labels = ["cold" if temp < 20 else "warm" for temp in temps]
labels

['cold', 'warm', 'warm', 'cold']

In [ ]:
## functions

# void functions
def even_no(data):
  lst = []
  for i in data:
    if i %2 ==0:
      lst.append(i)
  print(lst)


# non void
def even_no_non(data):
  lst = []
  for i in data:
    if i %2 ==0:
      lst.append(i)
  return lst

In [ ]:
data1 = [i for i in range(10,100)]

In [ ]:
lst = even_no_non(data1)

In [ ]:
print(lst)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
def validate_password(password):
    if len(password) < 8 or len(password) > 20:
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isdigit() for char in password):
        return False
    special_characters = "!@#$%^&*()-_+="
    if not any(char in special_characters for char in password):
        return False

    return True

password = input("Enter your password: ")
if validate_password(password):
    print("Valid password.")
else:
    print("Invalid password.")

Enter your password: Qwerty1234
Invalid password.

In [ ]:
def validation(password):
  upper = False
  lower = False
  digit = False
  sym = False
  symbol = "!@#$%^&*()_+"

  if len(password) > 8 and len(password) < 20:
    for i in password:
      if i.isupper():
        upper = True
      elif i.islower():
        lower = True
      elif i.isdigit():
        digit =True
      elif i in symbol:
        sym = True

    if upper and lower and digit and sym:
      print("saving the password")
      return password
    else:
      print("invalid password")

In [ ]:
def check(s1):
    cu,cl,cs=0,0,0
    sc="!@#$%^&}*()_+-={[]?/<>.,`~"
    print(f"all condition running if loop {len(s1)>=8 } + { len(s1)<=20}  + {s1.isalnum()}" )
    if len(s1)>=8 and len(s1)<=20 and s1.isalnum():
        for i in s1:
            if i.islower():
                cl+=1
            if i.isupper():
                cu+=1
            if i in sc:
                cs+=1
        if cu>=1 and cl>=1 and cs>=1:
            return True
    else:
        return False

In [ ]:
pas = "Qwertyu2"
pas.isalnum()

True

In [ ]:
check("Qwertyu!2")

all condition running if loop True + True  + False

False

In [ ]:
# Create a function named is_leap_year that takes a year as input and returns True if the year is a leap year and False otherwise.

def leap_year(value = 2003):
  if value %4 == 0:
    return "leap year"
  else:
    return "non leap year"

In [ ]:
year = int(input("enter teh year: "))
leap_year(1598)

enter teh year: 1598

'non leap year'

In [ ]:
# Define a function named format_name that takes a first name and a last name as input. The function should
# return a string with the name formatted as "Last Name, First Name"
def formattin():
  name = input("Enter your name")
  first_name = name.split()[0]
  last_name = name.split()[1]
  return f"{last_name.capitalize()}, testing  {first_name.capitalize()}"

formattin()

Enter your namesahil garg

'Garg, Sahil'

In [ ]:
def sum(x, y):
  return x+y

In [ ]:
# lambda function
sum_lambda = lambda x, y : x+y

In [ ]:
sum_lambda(4,5)

9

In [ ]:
area = lambda b, h : b*h*.5

In [ ]:
## try except else finally
## map , filter

In [ ]:
sq_list = [i*i if i %2 == 0 else i for i in range(10) ]

In [ ]:
i = [1,2,4]
j = [4,5,6]

coor = [(x,y) for x in i for y in j]

In [ ]:
coor

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (4, 4), (4, 5), (4, 6)]

In [ ]:

def is_leap(year):
  if year%4 ==0:
    return "leap year"
  else:
    return "not leap year"

In [ ]:
year = int(input("enter the year: "))

enter the year: 2904

In [ ]:
is_leap(year)

'leap year'

In [ ]:
df  = "file"

In [ ]:
df.fix1

In [ ]:
df.fx2

In [2]:
def cal_():
    try:
      a=int(input("enter the number"))
      b=int(input("enter the another number"))
      c=input("the operation")


    except Exception as e:
          print(e)

    else:
      if c=="add":
        print(a+b)
      elif c=="sub":
        print(a-b)
      elif c=="div":
        print(a/b)
      elif c=="mul":
        print(a*b)

result=cal_()

enter the number1222
enter the another number52225
the operationadd
53447

In [ ]:
# implement a function is_prime(number) that determines if a number is prime (divisible only by 1 and itself) using a more efficient algorithm
# (e.g., trial division up to the square root of the number).

In [ ]:
def is_prime(number):
  try:
    num = int(number)
  except Exception as e:
    print(e)
  else:
    if num <= 1:
      return False
    else:
      for i in range(2, int(num**.5)+1):
        if num % i == 0:
          return False
      return True

In [ ]:
is_prime(310101010101020309389323897328942947277)

False

In [ ]:
int(31**(1/2))+1

6

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
def isPrime(num):
    try:

        if(num < 0):
            raise Exception("Negetive Number not allowed")

        if(num == 0 or num == 1):
            return "Its Prime Number"

        for i in range(2, num):
            print("i")
            if(num % i == 0):
                return "Its not Prime Number"

        return "Its Prime Number"
    except Exception as e:
        print(e)

In [ ]:
# Write a function get_list_stats(data) that takes a list of numbers as input and returns a dictionary
# containing the minimum, maximum, and average values.

Negetive Number not allowed

In [ ]:
def getStats(lst = []):

    try:
        print(len(lst))
        if len(lst) <= 0:
            print("if condition")
            raise Exception("List should have values")

        min = 0
        max = 0
        avg = 0
        sum = 0
        for i in lst:

            if(max < i):
                max = i

            if(min > i):
                min = i

            sum = sum + i

        avg = sum/len(lst)

        return {"minimum" : min, "maximum": max, "average": avg}
    except Exception as e:
        print(e)

In [ ]:
getStats()

0
if condition
List should have values

In [ ]:
def get_list_stats(data):
    try:
      m = min(data)
      n = max(data)
      a = sum(data)/len(data)
      return {"maximum":m,"minimum":n,"Average":a}
    except Exception as e:
        print("Exception occured : ",e)

In [ ]:
get_list_stats(["1", "2"])

Exception occured :  unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# recusrive functions
# factorial
# 5! = 5x4x3x2x1

def factorial(num):
  if num == 0:
    return 1
  else:
    return num * factorial(num-1)

In [ ]:
print(factorial(3))

initial num : 3
initial num : 2
initial num : 1
initial num : 0
 else part of condition : 1* 1
initial num : 0
 else part of condition : 2* 1
initial num : 1
initial num : 0
 else part of condition : 1* 1
initial num : 0
 else part of condition : 3* 2
initial num : 2
initial num : 1
initial num : 0
 else part of condition : 1* 1
initial num : 0
 else part of condition : 2* 1
initial num : 1
initial num : 0
 else part of condition : 1* 1
initial num : 0
6

In [ ]:
0 , 1, 1,2,3  , 5, 8

In [ ]:
# using recursive functions create fibonanci
def fibonacci(num):
  if num == 0:
    return 0
  elif num == 1:
    return 1
  else:
    return fibonacci(num-1) + fibonacci(num-2)

In [ ]:
fibonacci(3)

2

In [ ]:
0 ,1 ,1, 2, 3, 5

In [3]:
def series(n):
  a , b = 0 , 1
  while a <= n:
    print(a , end = " ")
    a, b = b , a+b

In [4]:
series(33)

0 1 1 2 3 5 8 13 21

In [ ]:
# map()
# create a list of sq_num from 1 to 10
def sq_elemets(start, stop):
  return list(map(lambda x: x*x , ))

In [ ]:
num = (1,2,3,4,5)
tuple(map(lambda x: x*x , num))

(1, 4, 9, 16, 25)

In [ ]:
num

(1, 2, 3, 4, 5)

In [ ]:
# filter

(2, 4)

In [ ]:
tuple(map(lambda x: x*x , tuple(filter(lambda x : x%2 == 0 , num))))

(4, 16)

In [ ]:
# Write Python code using filter() and a lambda function to filter out strings with a length less than a specified minimum length.

In [ ]:
lis=["cry","beautiful","easy","arghya","run"]
list(filter(lambda x:len(x)>=4,lis))

['beautiful', 'easy', 'arghya']

In [ ]:
def order_pizza(size, toppings, *args, **kwargs):
  print(f"you ordered a {size} of pizza with this {toppings}")
  if args:
    print(f"with extra {','.join(args)} on sides")
  if kwargs:
    for toppings , quantity in kwargs.items():
      print(f"adding {quantity}  {toppings} as extras")

In [ ]:
order_pizza("large", "pepperoni, mashrooms, cheese", "drinks",  "breads","ketchups", "flaks" , desserts = "brownie", sides = "ice cream" )

you ordered a large of pizza with this pepperoni, mashrooms, cheese
with extra drinks,breads,ketchups,flaks on sides
adding brownie  desserts as extras
adding ice cream  sides as extras

In [ ]:
occurrences[char] += 1