<a href="https://colab.research.google.com/github/kalki81000/New-Revision-2025/blob/main/Python_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# inbuilt functions
name = input("Enter your name: ")

Enter your name: Sahil Garg

'Sahil Garg'

In [ ]:
print(name)

Sahil Garg

In [ ]:
type(name)

str

In [ ]:
len(name)

10

In [2]:
# variables

# data types

# numeric data types
a = 1 # integers
b = 3.4 #float
c = 2+3j # complex  number are real + imaginary numbers


# Boolean
isworking = True # False

# array datatypes

name = "Sahil Garg"  # string data types
name_of_fruits = ["Apple" , "banana", "grapes" , 1] # list
name_of_country = ("India", "US" , "UK", 1) # tuple

In [4]:
name_of_fruits.append(name_of_country)

In [5]:
name_of_fruits.extend(name_of_country)

In [6]:
name_of_fruits.insert(1, 'paches')

In [7]:
name_of_fruits.index("India")

7

In [ ]:
name_of_fruits.remove("India")

In [ ]:
# dictionary
inventory = {"apple": {"green apple":10, "golden": 40}, "grapes":[200, 300], "peaches":50}

In [ ]:
inventory

{'apple': {'green apple': 10, 'golden': 40},
 'grapes': [200, 300],
 'peaches': 50}

In [ ]:
len(inventory.keys())

3

In [ ]:
com = inventory.copy()

In [ ]:
com

{'apple': {'green apple': 10, 'golden': 40},
 'grapes': [200, 300],
 'peaches': 50}

In [ ]:
# operator
# arithmatic operator
2/3

# comparison
2 == 3


# logical operator and or not

2>3

False

In [ ]:
# create a conversion of celsius to farheinhiet
tem = input("Enter the temp: ")

tem = float(tem)

far = (9 / 5  * tem ) +32

Enter the temp: 23

In [ ]:
far

73.4

In [ ]:
# control flow statment
# conditional statement
# looping
# try except



# conditional statmebt

tem = input("Enter the temp: ")

tem = float(tem)

far = (9 / 5  * tem ) +32

if far > 100:
  print("user have a fever")
elif far < 95:
  print("user have a low temp")
elif
else:
  print("user dont have fever")

Enter the temp: 23
user have a low temp

In [8]:
# create a calculator

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
ope = input("Enter the operation: ")

if ope == "+":
  print(num1+ num2)
elif

SyntaxError: invalid syntax (ipython-input-1401328638.py, line 9)

In [ ]:
name_of_fruits

['Apple', 'banana', 'grapes', 1, ('India', 'US', 'UK', 1), 'US', 'UK', 1]

In [ ]:
# looping statment - for , while

for i in range(10):
  if i % 2 ==0:
    print(f"{i} an even number")
  else:
    print(f"{i} an odd number")

0 an even number
1 an odd number
2 an even number
3 an odd number
4 an even number
5 an odd number
6 an even number
7 an odd number
8 an even number
9 an odd number

In [ ]:
for i in range(5):
  for j in range(i):

.e

In [ ]:
# create a method to find the sq of all number and save it in a new li
sq_num = []

for num in range(11, 100, 5 ):
  num_sq = num* num
  sq_num.append(num_sq)

sq_num

[121,
 256,
 441,
 676,
 961,
 1296,
 1681,
 2116,
 2601,
 3136,
 3721,
 4356,
 5041,
 5776,
 6561,
 7396,
 8281,
 9216]

In [ ]:
x = 0
while x < 10:
  x = x+1
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(5, 0 , -1):
  for j in range(i):
    print("*", end = " ")
  print(end = "\n")

* * * * *
* * * *
* * *
* *
*